
<div class="box">
    <div>
        <form>
            <h4><b>Line Chart</b></h4>
            <div class="horizontal">
            <div>
            <mat-form-field appearance="fill">
              <mat-label>Select Parameter</mat-label>
              <mat-select [(ngModel)]="selectedParam" name="food" (selectionChange)="onShow()">
                <mat-option *ngFor="let op of xParamOptions" [value]="op">
                  {{op}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
            <!-- <div class=" marbtn"mat-dialog-actions>
              
                <button mat-raised-button color="warn" (click)="onShow()" type="submit">Submit</button>
              </div> -->
            </div>
          
    </form>
    </div>
    <div class="sec2">

<div class="chartjs-container">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins"
        (chartHover)="chartHovered($event)" 
       >
    </canvas>
</div>

</div>
   
</div>