<div class="welcome-text">
  Trend Analysis
</div>
<div class="container">
  <div class="row">
      <div class="column">
        <mat-card class="example-card">
          <app-pie-chart></app-pie-chart>
        </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card">
            <app-bar-chart></app-bar-chart>
          </mat-card>
          </div>
  </div>

  <div class="row">
    <div class="column">
      <mat-card class="example-card">
        <app-line-chart></app-line-chart>
      </mat-card>
      </div>
      <div class="column">
        <mat-card class="example-card">
          <app-doughnut-chart></app-doughnut-chart>
        </mat-card>
        </div>
</div>

</div>

<!-- 
<div class="main-div">
<mat-grid-list cols="2" rowHeight="550px" rowWidth="1:1" md-gutter-gt-sm="0px">
  <mat-grid-tile class="col" >
    <app-pie-chart></app-pie-chart>
  </mat-grid-tile>
  <mat-grid-tile class="col">
    <app-bar-chart></app-bar-chart>
  </mat-grid-tile>
</mat-grid-list> 
<mat-grid-list cols="2" rowHeight="550px" md-gutter-gt-sm="0px">
  <mat-grid-tile class="col" >
    <app-line-chart></app-line-chart>
  </mat-grid-tile>
  <mat-grid-tile class="col">
    <app-doughnut-chart></app-doughnut-chart>
  </mat-grid-tile>
</mat-grid-list> 
</div> -->
    <!-- <table>
      <tr>
          <td><div style="width: auto; height: 500px;"><app-pie-chart></app-pie-chart></div></td>
          <td><div style="width: auto; height: 500px;"><app-bar-chart ></app-bar-chart></div></td>
      </tr>
      <tr>
        <td><div style="width: 300px; height: 300px;"><app-line-chart></app-line-chart></div></td>
        <td><div style="width: 300px; height: 300px;"><app-doughnut-chart></app-doughnut-chart></div></td>
      </tr>
   <table>
       -->
      
     
      
