<div class="search-div">


  <!-- <button class="btn-mar" mat-raised-button color="warn" (click)="onAddClick()"> 
    <mat-icon >add</mat-icon>Add Grad
  </button> -->
  <div class="welcome-text">

    Search Candidates

</div>

      <mat-form-field class="search-form-field" floatLabel="never" appearance="outline"> 
       
   
        <input   matInput type="text" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
    </button>  
    </mat-form-field>

    </div>
  
  
    
    
    <div class="mat-elevation-z8 table-margin">
    <mat-table [dataSource]="grads"  matSort>
        
      <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

        <ng-container matColumnDef="institute">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Institute</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.institute.name}} </mat-cell>
      </ng-container>
      
        <!-- <ng-container  matColumnDef="skills">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Skills</mat-header-cell>
          <mat-cell class="break" *matCellDef="let element"> 
            <span class="break">
            <span class="mararray" *ngFor="let skill of element.skills">{{skill.name}}</span>
          </span> 
          </mat-cell>
        </ng-container> -->

     

    <ng-container matColumnDef="ten_join_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Joining Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ten_join_date}} </mat-cell>
   </ng-container>
 
   <ng-container matColumnDef="join_loc">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Joining Location</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.join_loc.name}} </mat-cell>
</ng-container>

          <ng-container class="actions" matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Operations</mat-header-cell>
            <mat-cell *matCellDef="let row">
               <button (click)="onInfoClick(row)" mat-raised-button color="primary">Details</button>
                <button (click)="onUpdateClick(row)" mat-raised-button color="accent">Update</button> 
                <button (click)="onDeleteClick(row)" mat-raised-button color="warn">Delete</button>    
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data... 
            </mat-footer-cell>>
            </ng-container>
            <ng-container matColumnDef="nodata">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No Data
                </mat-footer-cell>>
                </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" 
         [ngClass]="{'hide':grads!=null}"></mat-footer-row>
         <mat-footer-row *matFooterRowDef="['nodata']" 
         [ngClass]="{'hide':!(grads!=null && grads.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
