<div class="container">
    <div class="img">
        <img src="../../assets/images/group_management.svg" alt="login svg">
    </div>
    <div class="login-container">
            <div class="login-content">
            <h2 class="welcome">Welcome To MS-AU's</h2>
            <br>
            <h2 class="title">Grad Management System</h2>
            <div *ngIf="!user">
               
                <button  class="btn1"  (click)="signInWithGoogle()"><b>Sign In</b></button>
            </div>
            
        
            
    </div>
     </div>
</div>
