<div class="main-div">
    <div class="container">
        <div class="welcome-text">
            Welcome to Candidate Management System!!!
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-card class="example-card">
                    <mat-card-actions>
                    <img mat-card-image src="../../assets/images/Accolite_Logo.jpg"
                    alt="Accolite Digital">
                </mat-card-actions>
                <mat-card-title>Features of Candidate Management System</mat-card-title>
                    <mat-card-content>
                        <ul type="square">
                            <li>Search based on different parameters...</li>
                            <li>Add, Update, Delete and Get more details about Candidate...</li>
                            <li>Trend Analysis based on Skills, Institute, Location, Year of Joining...</li>
                            <li>Check Operations logs by different users...</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-raised-button routerLink="/dashboard/add" color="warn">Add</a>
                        <a mat-raised-button routerLink="/" color="warn">Search</a>
                        <a mat-raised-button routerLink="/dashboard/trends" color="warn">Trends</a>
                        <a mat-raised-button routerLink="/dashboard/logs" color="warn">Logs</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>