<div class="main-div">
    <div class="container">
        <div class="welcome-text">

            Welcome to Grad Management System!!!

        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-card class="example-card">
                    <mat-card-actions>
                    <img mat-card-image src="../../assets/images/Accolite_Logo.jpg"
                    alt="Accolite Digital">
                </mat-card-actions>
                <mat-card-title>Features of Grad Management System</mat-card-title>
                    <mat-card-content>
                        <ul type="square">
                            <li>Search based on different filters</li>
                            <li>Trends based on different filters</li>
                            <li>Add, Update, Delete and Get more Info about Grad</li>
                            <li>Check Operations logs and object version control</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-raised-button routerLink="/" color="warn">Search</a>
                        <a mat-raised-button routerLink="/dashboard/trends" color="warn">Trends</a>
                        <a mat-raised-button routerLink="/dashboard/logs" color="warn">Operations log</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>