.box{
    background-color: white;
    width: 100%;
    /* display: flex; */
    height: 100%;
 }
 .sec1{
     display: flex;
 
     margin-left: 10px;
     margin-top: 10px;
     /* height: 90vh; */
     margin-right: 10px;
     width: 20%;
 
 }
 .sec2{
     margin-left: 10px;
     margin-top: 10px;
     /* height: 90vh; */
     margin-right: 10px;
     width: 100%;
 }
     