<mat-toolbar color="warn" class="mat-elevation-z6">
    <span>Candidate Management System</span>
    <span class="example-spacer"></span>
    <a mat-button class="nav-text" routerLink="home">Home</a>
    <a mat-button class="nav-text" routerLink="add">Add</a>
    <a mat-button class="nav-text" routerLink="/">Search</a>
    <a mat-button class="nav-text" routerLink="trends">Trends</a>
    <a mat-button class="nav-text" routerLink="logs">Logs</a>
    <!-- <a mat-button>{{user.firstName}}</a> -->
    <a mat-button class="nav-text">{{username}}</a>
    <a mat-raised-button class="nav-text" color="primary" (click)="signOut()">Sign Out</a>
  </mat-toolbar>
