<div class="welcome-text"> Trend Analysis </div>
<div class="container">
  <div class="row">
      <div class="column">
        <mat-card class="example-card">
          <app-pie-chart></app-pie-chart>
        </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card">
            <app-bar-chart></app-bar-chart>
          </mat-card>
          </div>
  </div>

  <div class="row">
    <div class="column">
      <mat-card class="example-card">
        <app-line-chart></app-line-chart>
      </mat-card>
      </div>
      <div class="column">
        <mat-card class="example-card">
          <app-doughnut-chart></app-doughnut-chart>
        </mat-card>
        </div>
</div>

</div>


      
     
      
